{:paths ["src" "test" "resources" "classes"]
 :deps  {org.clojure/clojure      {:mvn/version "1.12.4"}
         org.clojure/core.memoize {:mvn/version "1.2.273"}

         org.clojure/tools.logging                   {:mvn/version "1.3.1"}
         ch.qos.logback/logback-classic              {:mvn/version "1.5.23"}
         ch.qos.logback.contrib/logback-json-classic {:mvn/version "0.1.5"}
         ch.qos.logback.contrib/logback-jackson      {:mvn/version "0.1.5"}
         com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.20.1"}
         cheshire/cheshire                           {:mvn/version "6.1.0"}

         com.taoensso/carmine     {:mvn/version "3.5.0"}
         com.nilenso/goose        {:mvn/version "0.6.0"
                                   :exclusions  [com.rabbitmq/amqp-client]}

         org.babashka/http-client {:mvn/version "0.4.23"}
         org.babashka/json        {:mvn/version "0.1.6"}

         ring/ring-codec                {:mvn/version "1.3.0"}
         ring/ring-core                 {:mvn/version "1.15.3"}
         ring/ring-defaults             {:mvn/version "0.7.0"}
         ring/ring-jetty-adapter        {:mvn/version "1.15.3"}
         ring/ring-json                 {:mvn/version "0.5.1"}
         compojure/compojure            {:mvn/version "1.7.2"}
         hiccup/hiccup                  {:mvn/version "2.0.0"}
         nl.jomco/clj-http-status-codes {:mvn/version "0.2"}
         nl.jomco/envopts               {:mvn/version "0.0.7"}
         nl.surfnet/eduhub-validator    {:git/url "https://github.com/SURFnet/eduhub-validator"
                                         :git/sha "c788aab7a859ec8eef10751b57d775acd4836696"
                                         :git/tag "v1.0.3"}
         nl.jomco/with-resources        {:mvn/version "0.1.2"}
         }
 :aliases
 {:test {:extra-deps {lambdaisland/kaocha {:mvn/version "RELEASE"}}
         :main-opts  ["-m" "kaocha.runner"]}

  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
         :main-opts  ["-m" "clj-kondo.main" "--lint" "src" "test"]}

  :outdated {:replace-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts    ["-m" "antq.core"]}

  :uberjar {:replace-deps  {uberdeps/uberdeps {:mvn/version "RELEASE"}}
            :replace-paths []
            :main-opts     ["-m" "uberdeps.uberjar"
                            "--main-class" "nl.surf.eduhub.validator.service.main"]}
  :watson  {:paths        []
            :replace-deps {io.github.clj-holmes/clj-watson {:git/tag "v6.0.1"
                                                            :git/sha "b5203518d023d50e70a240d59a0770ccbacf3867"}
                           org.owasp/dependency-check-core {:mvn/version "RELEASE"}}
            :main-opts    ["-m" "clj-watson.cli"]}

  :repl {:main-opts ["-i" "src/nl/surf/eduhub/validator/service/main.clj"
                     "-e" "(in-ns,'nl.surf.eduhub.validator.service.main)"
                     "-r"]}}}
